<div class="row">
  <% if @category == 'life' %>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner life"><img class="doodles" src="assets/life_doodle.png"> Life</div>
  <% elsif @category == 'discover'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner discover"><img class="doodles" src="assets/discover.png"> DISCOVER</div>
  <% elsif @category == 'humor'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner humor"><img class="doodles" src="assets/humor.png"> HUMOR</div>
    <% elsif @category == 'travel'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner travel"><img class="doodles" src="assets/travel.png"> TRAVEL</div>
  <% elsif @category == 'good'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner good"><img class="doodles" src="assets/good.png"> GOOD</div>
  <% end %>
</div>

<div class="row">
  <div class="large-12 large-offset-1 small-16 small-offset-1 columns right-container">
    <div class="row">
      <ul class="large-block-grid-3">
        <% @posts.each do |post|%>
            <li>
              <div class="text-center"><%= link_to post.title, post_path(post)%></div>
              <div><<%= raw post.first_image%> /></div>
              <div class="post-body"><%= post.body.truncate(180).html_safe%></div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="large-4 columns left-container">
    <div class="row">
      <div class="large-18 columns"><a href="http://www.nexgardfordogs.com/Pages/index.aspx"><img src="assets/nexgard-ad.jpg" class="ads"></a></div>
      <div class="large-18 columns"><a href="http://www.subaru.com/pets/index.html"><img src="assets/subaru_ad_1.jpg" class="ads"></a></div>
    </div>
  </div>
  <div class="large-1 columns"></div>
</div>