<div class="row">
  <% if @category == 'life' %>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner life"><img class="doodles" src="assets/life_doodle.png"> Life</div>
  <% elsif @category == 'discover'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner discover"><img class="doodles" src="assets/discover.png"> DISCOVER</div>
  <% elsif @category == 'humor'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner humor"><img class="doodles" src="assets/humor.png"> HUMOR</div>
    <% elsif @category == 'travel'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner travel"><img class="doodles" src="assets/travel.png"> TRAVEL</div>
  <% elsif @category == 'good'%>
    <div class="large-16 large-offset-1 small-16 small-offset-1 columns banner good"><img class="doodles" src="assets/good.png"> GOOD</div>
  <% end %>
</div>

<div class="row">
  <div class="large-12 large-offset-1 small-16 small-offset-1 columns right-container">
       <div class="row">
      <% @posts.each do |post|%>
          <div class="large-8 large-offset-1 small-18 columns post-container">
            <div class="text-center"><%= link_to post.title, post_path(post)%></div>
            <div class="large-16 large-offset-1 small-18 columns"><%= post.body.truncate(100).html_safe%></div>
          </div>
      <% end %>
        </div>
  </div>
  <div class="large-4 columns left-container">
    <img src="assets/nexgard-ad.jpg" class="ads">
  </div>
  <div class="large-1 columns"></div>
</div>