<div class="row">
  <div class="large-9 columns main-container">
  <p class="categories"><%= @post.category%></p>

  <h3><%= @post.title.html_safe %></h3>
  <p><%= link_to @post.user.name, user_path(@post.user)%></p>

  <p><%= @post.body.html_safe%></p>
  </div>
</div>