<div class="row">
  <div class="large-12 large-offset-1 small-16 small-offset-1 columns right-container ">
    <p class="categories"><%= @post.category%></p>

    <h3 class="text-center"><%= @post.title %></h3>
    <p class="text-center"><%= link_to @post.user.name, user_path(@post.user)%></p>

    <p><%= @post.body.html_safe%></p>

    <div class="large-16 large-offset-1 columns fb-comments" data-numposts="5" data-width="100%"></div>
  </div>
  <div class="large-4 columns"></div>
  <div class="large-1 columns"></div>
</div>