.banner {
  text-align: center;
  margin-top: 2%;
  margin-left: 0;
  font-family: "Helvetica Neue";
  font-size: 2em;
  color: #FFFFFF;
}

#life {
  background-color: #00bfa5;
}

#discover {
  background-color:#b76cc4;
}

#humor {
  background-color:#eec636;
}

#travel {
  background-color:#97c230;
}

#good {
  background-color:#ec6767;
}

.doodles {
  width: 13%;
}

.main-container {
  margin-top: 3%;
  background-color: #FFFFFF;
  border: 1px solid #959595;
}

.posts {
  margin-top: 3%;
  padding-top: 2%;
  border-top: 1px solid black;
}

.ads {
  padding-left: 22px;
}