.banner {
  text-align: center;
  margin-top: 2%;
  margin-left: 0;
  font-family: "Helvetica Neue";
  font-size: 2em;
  color: #FFFFFF;
}

.life {
  background-color: #00bfa5;
}

.discover {
  background-color:#b76cc4;
}

.humor {
  background-color:#eec636;
}

.travel {
  background-color:#97c230;
}

.good {
  background-color:#ec6767;
}

.doodles {
  width: 10%;
}

.right-container {
  margin-top: 2%;
  margin-bottom: 6%;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D3;
  padding: 2%;
}

.left-container {
  margin-top: 2%;
}

.posts {
  margin-top: 3%;
  padding-top: 2%;
  border-top: 1px solid #D9D9D3;
}

.ads {
  padding-left: 22px;
  margin-bottom: 15%;
}

.post-container {
  border: 3px dotted #D9D9D3;
  border-radius: 10px;
  padding: 1%;
  margin-top: 0.5%;
}

#form-category {
  width: 15%;
}

#author-post-img {
  margin-top: 2%;
  width: 8%;
  border-radius: 50%;
}

.categories {
  width: 8%;
  color: white;
  margin-top: 2%;
}

.post-body p {
  font-size: 0.85em;
  width: 80%;
  margin: 0 auto;
}

.post-images {
  margin-top: 3%;
}

.big-container {
  border: 1px solid #D9D9D3;
  margin-bottom: 7%;
  padding: 3%;
}

.index-post-images {
  width: 75%;
  margin: 0 auto;
}

.index-categories {
  width: 25%;
  color: white;
  margin-top: 5%;
  margin-left: 10%;
}

#recent-posts {
  width: 15%;
  color: white;
  font-family: Arial;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.3%;
  text-align: center;
  background-color: #45b1e2;
}

.big-post-title {
  margin-top: 1%;

  a {
  color: black;
  };

}

.small-post-title {
  a {
  color: black;
  };
}

.share-buttons{
  margin-left: 6%;
  margin-bottom: 0.5%;
}

#twitter-button{
  margin-bottom: 2%;
}