.banner {
  text-align: center;
  margin-top: 2%;
  margin-left: 0;
  font-family: "Helvetica Neue";
  font-size: 2em;
  color: #FFFFFF;
}

#life {
  background-color: #00bfa5;
}

#discover {
  background-color:#b76cc4;
}

#humor {
  background-color:#eec636;
}

#travel {
  background-color:#97c230;
}

#good {
  background-color:#ec6767;
}

.doodles {
  width: 10%;
}

.right-container {
  margin-top: 2%;
  margin-bottom: 6%;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D3;
  padding: 2%;
}

.left-container {
  margin-top: 2%;
}

.posts {
  margin-top: 3%;
  padding-top: 2%;
  border-top: 1px solid #D9D9D3;
}

.ads {
  padding-left: 22px;
}

.post-container {
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
}

#form-category {
  width: 15%;
}

#author-post-img {
  margin-top: 2%;
  width: 8%;
  border-radius: 50%;
}