// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#author-img {
  border-radius: 50%;
  margin-top: 3%;
}

.post-container {
  background-color: #99CCFF;
}

.posts {
  margin-top: 3%;
  padding-top: 3%;
  border-top: 1px solid #F7F7F7;
}
